.header{
    /* border-bottom: 1px solid black; */
    margin-left: 10%;
    margin-right: 10%;
    color: #171717;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;

}
.subheader{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 1%;
    color: #171717;
    display: flex;
    justify-content: flex-start;
    font-size: 9px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
    line-height: 15px;
	text-decoration: none solid rgba(23, 23, 23, 0.7);
     color: rgba(23, 23, 23, 0.7);
     overflow-x: auto;
     scrollbar-width: none;


}
.board{
    margin-right: 5%;
    height: 12px !important;
}
.bottom{
    border-bottom:1px solid #F6F6F6;
}
@media screen and (max-width:500px){
    .subheader{
        margin-left: 3% !important;
        margin-right: 3% !important;
    }
    .header{
        margin-left: 3% !important;
        margin-right: 3% !important;

    }
}